header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid #ff0000;
}

h1{
    margin-bottom: 5px;
}
body{
    font-family: sans-serif;
    white-space: nowrap;
    margin-left: 15%;
    margin-right: 15%;
}

p1,
p2{
    margin-right: 8px;
}

.proportion{
    display: flex;
    justify-content: center;
}

.last_score{
    display: flex;
    justify-content: center;
}

.send_scr{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}